<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ilmohallinta</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
  <link href="styles.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">

  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>

  <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />  


</head>
<body>
  <div id="app">
    <v-app>
      <main>
        <v-content>
          <v-container>
            <h1>{{title}} <span  v-if="signed_in" class="body-1">User: {{user.displayName}} <v-btn small @click="sign_out()">Sign out</v-btn></span></h1>

            <div v-if="!signed_in">
              <div id="firebaseui-auth-container"></div>
            </div>
  
            <v-snackbar :timeout="5000" v-model="snackbar">
              {{snackbar_text}}
              <v-btn flat color="pink" @click.native="snackbar = false">Close</v-btn>
            </v-snackbar>

            <v-card class="ma-2">
              <v-card-title primary-title>
                <h2>Ilmoittautuneet</h2>
              </v-card-title>
              <v-card-text>
                <v-progress-circular v-if="loading" indeterminate v-bind:size="50" color="primary"></v-progress-circular>
                <div v-for="sarja in ilmosarjat" v-if="sarja.joukkueet.length">
                    <h3>{{sarja.nimi}} <span class="body-1">({{sarja.joukkueet.length}})</span></h3>
                    <div v-for="joukkue in sarja.joukkueet">{{joukkue.nimi}} </div>
                </div>
                <v-btn absolute dark fab bottom right color="pink" v-if="signed_in && !editor" @click="editor=!editor">
                  <v-icon>add</v-icon>
                </v-btn>              
              </v-card-text>
            </v-card>      
            
            <v-card v-if="editor" class="ma-2">
              <v-card-title primary-title>
                <h2>Lisää uusi joukkue</h2>
              </v-card-title>
              <v-card-text>
                <v-text-field label="Nimi" v-model="add_nimi" required></v-text-field>
                <v-select :items="sarjat" item-text="nimi" item-value="id" label="Sarja" v-model="add_sarja" single-line bottom required></v-select>
                <v-btn color="primary" @click="adder()" :disabled="add_disabled">Lisää</v-btn>
                <v-btn color="error" @click="editor=!editor">Peruuta</v-btn>
              </v-card-text>
            </v-card>  
          </v-container>  
        </v-content>
      </main>
    </v-app>
  </div>

  
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script src="main.js"></script>
</body>
</html>
